
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://think.com.gh/wp-content/uploads/2018/01/FB_IMG_1514966433073.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              About us
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #034e31; font-size: 25px;" class="js-reveal">
         About ICGC, Virginia Beach</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
          <span style="font-size: 14px; font-weight: 500;">OUR VISION STATEMENT</span> <br>
            The vision of International Central Gospel Church (ICGC) is to establish the House of God through the development of Model New Testament Christians and Churches.
             <br><br>
            <span style="font-size: 14px; font-weight: 500;">OUR MISSION STATEMENT</span> <br>
            The mission of International Central Gospel Church (ICGC) are:
            <ol style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;">
              <li>To raise leaders</li>
              <li>To shape vision</li>
              <li>To influence society with the principles of the Kingdom of God</li>
            </ol>
           
            <span style="font-size: 14px; font-weight: 500;">OUR PHILOSOPHY</span>
            The ICGC philosophy is:
            <ol style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;">
              <li>Human dignity</li>
              <li>Practical Christianity</li>
              <li>Excellence</li>
            </ol>
            
          </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
