
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://think.com.gh/wp-content/uploads/2018/01/FB_IMG_1514966433073.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              General Overseer
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #034e31; font-size: 25px;" class="js-reveal">
         About the General Overseer, Dr. Mensa Otabil.</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Dr. Mensa Otabil is a respected Christian statesman: a well-tested pastor, an educator, an entrepreneur, and a motivational speaker. He founded International Central Gospel Church and oversees the multi-faceted network of ministries of the International Central Gospel Church worldwide, with its headquarters in Accra, Ghana.<br><br>
            He also serves as the senior pastor of Christ Temple, a ministry of the International Central Gospel Church, with a congregation in the tens of thousands. His over-riding passion is to see the timeless principles of the Bible made applicable to the renewal and transformation of Africa. His messages speak to the pertinent concerns of a continent and people seeking solutions to their perplexing challenges.<br><br>
            Dr. Otabil is chancellor at Ghana’s premier private university, Central University College. He also serves on several Boards and Trusts of organizations. He is committed to human uplifting and presents the inspirational radio and television broadcast, The Living Word. He has authored numerous books and he is highly sought-after speaker at major conferences and mega churches around the continents of the world.<br><br>
            He and his wife Joy reside in Ghana’s capital city of Accra with their four children: Sompa, Nhyira, Yoofi Abotare and Baaba Aseda.
            </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <img src="https://kuulpeeps.com/wp-content/uploads/2017/07/17.jpg" width="200px" height="200px" style="border-radius: 50%;" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
