
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1545984485/churchgallery_zdi5zi.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              Church Gallery
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
 
    <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <a href="gallery/gal1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal1thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal2thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal3thumb.jpg" class="img-fluid">
            </a>
           
        </div>
        <div class="row">
             <a href="gallery/gal4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal4thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal5thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal6thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal7thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal8thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal9thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal10thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal11thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal12thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal13thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal14thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal15thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal16thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal17.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal17thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal18.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal18thumb.jpg" class="img-fluid">
            </a>
        </div>

         <div class="row">
             <a href="gallery/gal19.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal19thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal20.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal20thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal21.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal21thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal22.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal22thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal23.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal23thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal24.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal24thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal25.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal25thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal26.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal26thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal27.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal27thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal28.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal28thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal29.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal29thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal30.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal30thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal31.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal31thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal32.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal32thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal33.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal33thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal34.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal34thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal35.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal35thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal36.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal36thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal37.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal37thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal38.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal38thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal39.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal39thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal40.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal40thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal41.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal41thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal42.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal42thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal43.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal43thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal44.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal44thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal45.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal45thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal46.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal46thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal47.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal47thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal48.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal48thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal49.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal49thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal50.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal50thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal51.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal51thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
            <a href="gallery/gal53.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal53thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal54.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal54thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal55.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal55thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
            <a href="gallery/gal56.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal56thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal57.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal57thumb.jpg" class="img-fluid">
            </a>
             <a href="gallery/gal60.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal60thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal58.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal58thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal59.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal59thumb.jpg" class="img-fluid">
            </a>
           <a href="gallery/gal61.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal61thumb.jpg" class="img-fluid">
            </a>
        </div>


      </div>
    </div>
  </section>
