
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1545505301/newsizehome2_ntws1o.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              Church Gallery
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
 
    <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <a href="gallery/gal1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal1thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal2thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal3thumb.jpg" class="img-fluid">
            </a>
           
        </div>
        <div class="row">
             <a href="gallery/gal4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal4thumb.jpg" class="img-fluid">
            </a>
        </div>
