<style type="text/css">

	.homelandingsect1{
		background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.65)), url('https://res.cloudinary.com/nikasemo/image/upload/v1535228685/gworks_ycofcs.jpg'); background-position:center;
		background-size: cover; 
		background-position: center center; 
		background-repeat: no-repeat;
		height: 650px;
	}

	.landrowtop{
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.beblessedhead {
		text-align: center;
		color: white;
		font-size: 60px;
		font-family: 'Paytone One', sans-serif;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

	.beblessedp {
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: 'Josefin Slab', serif;
		font-weight: 300;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

	.beblessedpweb {
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: 'Josefin Slab', serif;
		font-weight: 600;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

</style> 



<section class="homelandingsect1">
<div class="container">
	<div class="row landrowtop">
		  <div class="col-lg-12">
		  	<p style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1535228434/logoicgccopy_dnyq4r.png" class="img-fluid"></p>
		     <h2 class="beblessedhead">ICGC</h2>
		     <br>
		     <p class="beblessedp">Through our programs, we trust to make the lives of our people<br> better than before they came to Church, and redirect their perception and behaviour in conformity<br> with God's word. This attitude which is based on the word of God will transform the lives<br> of people in their communities, work place, schools etc.</p>
		     <br>
		     <p class="beblessedpweb"><i class="fa fa-home" aria-hidden="true"></i> Website launching soon <a href="http://www.icgc-branchname.org" style="color: white;" target="_blank">www.icgc-branchname.org</a></p>
	      </div>
		</div>
	</div>
</section>