
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1545982333/mensminimage_pysfwx.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              Men's Ministry
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #034e31; font-size: 25px;" class="js-reveal">
         Men's Ministry</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           How good and pleasant it is for brethren to dwell together in unity. (Psalms 133:1) It is the goal of the Men’s Ministry to provide opportunities for fellowship and service for men of all ages. Our meetings are informal, informational and there is something available for all men, regardless of the amount of church experience (great or small). Men are given the opportunity to serve God, one another, the Church and grow in the grace and knowledge of the Lord Jesus Christ.   
           <br><br> 
           <span style="font-size: 16px;">“As iron sharpens iron, so one man sharpens another.”<span style="font-weight: 500;"> ~ Proverbs 27:17 </span></span> 
           <br>
            <ul style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;">
              <li>Reach men with the good news of the Gospel of Christ.</li>
              <li>Edify and encourage men to be godly men</li>
              <li>Discipleship and education of men through Bible study and fellowship.</li>
              <li>Create and build Christian role models.</li>
              <li>Evangelism of non-believing men through sports and other activities.</li>
              <li>Build fellowship among men.</li>
              <li>Glorify the Lord.</li>
              <li>Support the goals and vision of ICGC-VICTORY TEMPLE</li>
            </ul>
             <span style="font-size: 16px; color: #034e31; font-weight: 600; font-family: 'Raleway', sans-serif;">The Programs of our ministry include:</span><br>
             <span style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;">
             There are several opportunities provided for men to establish a friendship, fellowship, minister, and have fun. Various fellowships are also planned and organized throughout the year. In each of these events, preparation is necessary, and opportunities for service and participation are available.
           </span>
            </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
