
<style type="text/css">

.landrowtop {
	margin-top: 20px;
}

.beblessedhead {
	text-align: left;
	font-family: 'Paytone One', sans-serif;

}

.beblessedpweb {
	text-align: left;
	font-size: 18px;
	font-family: 'Josefin Slab', serif;
}

</style>

<div class="container">
	<div class="row landrowtop">
		<div class="col-lg-4">
			<h3 class="beblessedhead">Key</h3>
			<p class="beblessedpweb">The colors indicate 3 states:</p>
			<p class="beblessedpweb"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1533513559/redoval_ybkrjq.png" style="height: 12px; width: 12px;"> Not done</p>
			<p class="beblessedpweb"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1533513559/yellowoval_nb07ze.png" style="height: 12px; width: 12px;"> In Progress</p>
			<p class="beblessedpweb"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1533513559/greenoval_eiaqt9.png" style="height: 12px; width: 12px;"> Done</p>
			<p class="beblessedpweb">
				An asterix beside text means you have to provide us with some information.
				<br>
			    Double asterix means we decide together<br> or with my guidance.
		   </p>
		</div>
		  <div class="col-lg-8">
		     <h2 class="beblessedhead">ICGC Website</h2>
		     <h5 class="beblessedhead">Project Timeline</h5>
		     <br>
		     <ol class="beblessedpweb">
		     	<li>Decision and Theme of Website **</li>
		     	<li>Top Navigation of website</li>
		     	<li>Bottom Navigation of website</li>
		     	<li>Website homepage Section 1 and 2</li>
		     	<li>Website homepage section 3 and 4</li>
		     	<li>Pictures for homepage slider*</li>
		     	<li>Homepage caption text **</li>
		     	<li>Announcement scaffold</li>
		     	<li>Announcement sliding</li>
		     	<li>Notify members of announcement by email</li>
		     	<li>Mission and vision of church**</li>
		     	<li>Photos from programs**</li>
		     	<li>About the Church**</li>
		     	<li>About the Branch**</li>
		     	<li>About the Head pastor**</li>
		     	<li>About founder and Gen. Overseer**</li>
		     	<li>Church Leadership**</li>
		     	<li>Church leadership structure*</li>
		     	<li>Various church departments**</li>
		     	<li>Devotionals scaffold and design**</li>
		     	<li>Audio Messages Scaffold and design</li>
		     	<li>Contact Page</li>
		     	<li>Regular Contact Form**</li>
		     	<li>Prayer Requests**</li>
		     	<li>Testimonials page</li>
		     	<li>Social media profiles</li>
		     	<li>Social sharing</li>
		     	<li>Facebook Pixel installation</li>
		     	<li>SEO and Site mape</li>
		     	<li>Miscellaneous</li>
		     </ol>
		     <br>
	      </div>
		</div>
		<div class="col-lg-12">
			<p class="beblessedpweb" style="text-align: center;"><i class="fa fa-home" aria-hidden="true"></i> Website launching soon <a href="http://www.icgc-branchname.org" style="color: black;" target="_blank">www.icgc-branchname.org</a></p>
		</div>
	</div>