
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #034e31; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1545982414/womensminimage_jsgpfa.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              Women's Ministry
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #034e31; font-size: 25px;" class="js-reveal">
         Women's Ministry</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           We exist to serve all women of ICGC – VICTORY TEMPLE, encouraging and equipping them to know, love, and serve Jesus and others. We take seriously Paul’s admonitions in Titus 2:3-5, which instructs women to teach other women, encouraging one another, and training up young women to be strong in the faith. Our ministry programs and events seek to provide relevant help, based on biblical principles and doctrines, in all areas of their lives, including our lifestyles and behaviors, our relationships and marriages, parenting, sexual issues and personal priorities. There’s a place in our ministry for all women in our church—all ages and cultures and backgrounds—and we invite your participation, your suggestions, and your partnership with us. 
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
