
<style type="text/css">
  .slidetop{
    margin-top: 20px;
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.1),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1537494656/navbgback_j2ojki.png);
  background-position:center;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-position:center;
  min-height: 200px;
}

</style>

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 0px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Devotionals</h1>
      </div>
    </div>
  </div>
</section>


<div class="container">
<div class="row slidetop">
  <div class="col-lg-10 col-sm-12">
    <%= render @posts %>
  </div>
  <div class="col-lg-4 col-sm-12">

  </div>
</div>
</div>

