
<style type="text/css">
	#share-buttons{
  
  margin-bottom: 10px;
}
</style>

<div class="container">
  <div class="row justify-content-md-center" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="col-sm-12 col-md-8 col-md-offset-4">
 
 <h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #034e31; font-size: 25px;"><%= @post.title %><br></h2>
 <p>
  Author:
  <span style="font-weight: 300; font-size: 14px;"><%= @post.author %></span>
</p>

 <div id="share-buttons" style="">
     <span style="color: #000; text-transform: uppercase; font-size: 12px; font-weight: 400; margin-right: 20px;">Share this </span>
     <!-- Facebook -->
    <a href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" width="25px" height="25px" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" width="25px" height="25px" alt="Google" />
    </a>
    
    <!-- LinkedIn -->
    <a href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" width="25px" height="25px" alt="LinkedIn" />
    </a>
    
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" width="25px" height="25px" alt="Print" />
    </a>
     
    <!-- Twitter -->
    <a href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" width="25px" height="25px" alt="Twitter" />
    </a>
</div>

<p>
  <img src="https://res.cloudinary.com/nikasemo/image/upload/v1546156745/daliydevimg_siqitf.jpg" class="img-fluid" width="250px" height="250px" 
  style="margin-right: 25px; margin-bottom: 15px; float: left;">
  <%=h raw @post.description %>
</p>



</div>
</div>
</div>
